body{
    background-image: url(Teclat.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: orange;
  box-shadow: 0 1px 1px orange inset, 0 0 8px orange;
  outline: 0 none;
}

.mybody{
    min-height: calc(100vh - 123px);
}
@font-face{
    font-family: 'basic';
    src: url("Juicebox.otf");
}
@font-face{
    font-family: 'basicmin';
    src: url("Quenda-Medium.otf");
}
::placeholder {
        font-family: "basicmin";
    }


.textnav{
    color: orange;
    font-family: "basic";
    font-size: 20px;
}
#textnav{
    color: orange;
    font-family: "basic";
    font-size: 20px;
}
.titlenav{
    font-size: 40px;
}
nav{
    background-color: black;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
.navbar a:hover{
     color: orange!important;
}
.navbar a{
     color: white!important;
}
.p{
    border-style: solid;
    border-width: 5px;
    height: 200px;
}
.mifooter {
    margin-top: 4%;
    font-family: "basic";
   width: 100%;
   background-color: black;
    opacity: 0.8;
   color: white !important;
   text-align: center;
}
table{
    width: 100%;
    color: white;
    font-size: 18px;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: orange !important;
}
.iconos{
    color: white;
}
.iconos:hover{
    color: orange;
}
.carousel-item {
  height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.micarousel{
    border-style: solid;
    border-color: orange;
    border-left: orange;
    border-right: orange;
    font-family: "basicmin";
    margin: auto;
    margin-top: 3%;
}
.slide1{
    background-image: url("Guitar.jpg");
}
.slide2{
    background-image: url("Teclat.jpg");
}
.slide3{
    background-image: url("Registrat.jpg");
}
.containerbloc{
    -webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
    background: rgb(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 6%;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
}
.escrit1{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Text{
    font-family: basicmin;
    font-size: 25px;
    margin: auto;

}
.Titol{
    color: white;
}
h1{
    text-align: center;
    font-family: basic;
    font-size: 70px;
}
.componentcontacte{
    opacity: 1;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    width: 50%;
    text-align: center;
}
.logoimatge{
    width: 150px;
}
.btn-change2{
    text-align: center;
    font-family: "basicmin";
    font-size: 20px;
    height: 50px;
    width: 20%;
    background: black ;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    border:0px;
    color: orange;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: 0 0;
    box-shadow:0px 0px 0 100px white inset;
}
.btn-change2:hover{
    -webkit-box-shadow:0px 0px 0 0px white inset;
    -webkit-transform: scale(1);
}
.selecciona{
    font-family: basicmin;
    margin-left: 38%;
    margin-bottom: 2%;
}
.petittext{
    color: white;
    font-size: 18px;
    font-family: basicmin;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 2%;
}
a{
    color: black;
}
.containerform{
    margin: auto;
}
.definiciocamp{
    color: orange;
    font-family: basicmin;
    margin-bottom: 5px;
    margin-top: 20px;
}
.seleccio{
    font-family: basicmin;
    color: white;
}











@media (min-width: 0px) and (max-width: 600px) {
    body{
    background-image: url(Teclat.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: orange;
  box-shadow: 0 1px 1px orange inset, 0 0 8px orange;
  outline: 0 none;
}

.mybody{
    min-height: calc(100vh - 123px);
}
@font-face{
    font-family: 'basic';
    src: url("Juicebox.otf");
}
@font-face{
    font-family: 'basicmin';
    src: url("Quenda-Medium.otf");
}
::placeholder {
        font-family: "basicmin";
    }


.textnav{
    color: orange;
    font-family: "basic";
    font-size: 20px;
}
#textnav{
    color: orange;
    font-family: "basic";
    font-size: 20px;
}
.titlenav{
    font-size: 40px;
}
nav{
    background-color: black;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
.navbar a:hover{
     color: orange!important;
}
.navbar a{
     color: white!important;
}
.p{
    border-style: solid;
    border-width: 5px;
    height: 200px;
}
.mifooter {
    margin-top: 4%;
    font-family: "basic";
   width: 100%;
   background-color: black;
    opacity: 0.8;
   color: white !important;
   text-align: center;
}
table{
    width: 100%;
    color: white;
    font-size: 18px;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: orange !important;
}
.iconos{
    color: white;
}
.iconos:hover{
    color: orange;
}
.carousel-item {
  height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.micarousel{
    border-style: solid;
    border-color: orange;
    border-left: orange;
    border-right: orange;
    font-family: "basicmin";
    margin: auto;
    margin-top: 3%;
}
.slide1{
    background-image: url("Guitar.jpg");
}
.slide2{
    background-image: url("Teclat.jpg");
}
.slide3{
    background-image: url("Registrat.jpg");
}
.containerbloc{
    -webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);
    background: rgb(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 6%;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
}
.escrit1{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Text{
    font-family: basicmin;
    font-size: 25px;
    margin: auto;

}
.Titol{
    color: white;
}
h1{
    text-align: center;
    font-family: basic;
    font-size: 35px;
}
.componentcontacte{
    opacity: 1;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    width: 50%;
    text-align: center;
}
.logoimatge{
    width: 150px;
}
.btn-change2{
    text-align: center;
    font-family: "basicmin";
    font-size: 20px;
    height: 50px;
    width: 40%;
    background: black ;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    border:0px;
    color: orange;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: 0 0;
    box-shadow:0px 0px 0 100px white inset;
}
.btn-change2:hover{
    -webkit-box-shadow:0px 0px 0 0px white inset;
    -webkit-transform: scale(1);
}
.selecciona{
    font-family: basicmin;
    margin-left: 38%;
    margin-bottom: 2%;
}
.petittext{
    color: white;
    font-size: 18px;
    font-family: basicmin;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 2%;
}
a{
    color: black;
}
.containerform{
    margin: auto;
}
.definiciocamp{
    color: orange;
    font-family: basicmin;
    margin-bottom: 5px;
    margin-top: 20px;
}
.seleccio{
    font-family: basicmin;
    color: white;
    font-size: 8px;
}



}