<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static "freestyle.css   "%}">
    <script src="{% static "freestyle.js" %}"></script>
</head>
<body>
{% block Header %}
    <nav class="navbar navbar-expand-lg textnav">
        <a class="navbar-brand titlenav" href="{% url 'home' %}"><img src="../static/Logo.png" class="logoimatge"> {{ nom }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Inici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'descobreix' %}">Descobreix</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quisom' %}">Qui som?   </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'freestyle' %}">Freestyle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'penja' %}">Penja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sortir' %}">Sortir</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="mybody">
    <div class="containerbloc col-11">
        <div class="escrit1 col-8">
            <div class="Titol"> <h1>Freestyle mode</h1> </div>
        </div>
        <div class="containertotalcompos">
            <div class=" comptotal col-10">
                <h4>Controlador global</h4>
                <div class="row containericonstotal">
                    <div class="playtotal" onclick="reproduirmusic('audio{{ composicio.id }}')">
                        <i class="fas fa-play-circle"></i>
                        <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                    </div>
                    <div class="parartotal" onclick="pararmusic('audio{{ composicio.id }}')">
                        <i class="fas fa-pause-circle"></i>
                        <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                    </div>
                    <div class="stoptotal" onclick="pararmusic('audio{{ composicio.id }}')">
                        <i class="fas fa-stop-circle"></i>
                        <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                    </div>
                </div>
            </div>
            <div class="col-10 titolcompo">Primer Só</div>
            <div class="row comp1 col-11">
                <div class="col-2 image"><img src="../../static/Teclat.jpg"></div>
                <div class="selectt">
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="iconss">
                    <div class="row contenidoriconsindividual">
                        <div class="playindividual" onclick="reproduirmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-play-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="muteindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-volume-mute"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="stopindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-stop-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-10">
            <div class="col-10 titolcompo">Segon Só</div>
            <div class="row comp2 col-11">
                <div class="col-2 image"><img src="../../static/Teclat.jpg"></div>
                <div class=" selectt">
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="iconss">
                    <div class="row contenidoriconsindividual">
                        <div class="playindividual" onclick="reproduirmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-play-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="muteindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-volume-mute"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="stopindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-stop-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-10">
            <div class="col-10 titolcompo">Tercer Só</div>
            <div class="row comp3 col-11">
                <div class="col-2 image"><img src="../../static/Teclat.jpg"></div>
                <div class="selectt">
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="iconss">
                    <div class="row contenidoriconsindividual">
                        <div class="playindividual" onclick="reproduirmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-play-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="muteindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-volume-mute"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="stopindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-stop-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-10">
            <div class="col-10 titolcompo">Quart Só</div>
            <div class="row comp3 col-11">
                <div class="col-2 image"><img src="../../static/Teclat.jpg"></div>
                <div class="selectt">
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="iconss">
                    <div class="row contenidoriconsindividual">
                        <div class="playindividual" onclick="reproduirmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-play-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="muteindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-volume-mute"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="stopindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-stop-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-10">
            <div class="col-10 titolcompo">Cinquè Só</div>
            <div class="row comp5 col-11">
                <div class="col-2 image"><img src="../../static/Teclat.jpg"></div>
                <div class="selectt">
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="iconss">
                    <div class="row contenidoriconsindividual">
                        <div class="playindividual" onclick="reproduirmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-play-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="muteindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-volume-mute"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="stopindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-stop-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-10">
            <div class="col-10 titolcompo">Sissè Só</div>
            <div class="row comp6 col-11">
                <div class="col-2 image"><img src="../../static/Teclat.jpg"></div>
                <div class="selectt">
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="iconss">
                    <div class="row contenidoriconsindividual">
                        <div class="playindividual" onclick="reproduirmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-play-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="muteindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-volume-mute"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                        <div class="stopindividual" onclick="pararmusic('audio{{ composicio.id }}')">
                            <i class="fas fa-stop-circle"></i>
                            <audio loop src="/media/{{ composicio.arxiu }}" id="audio{{ composicio.id }}" class="audio"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block footer %}
    <div class="mifooter">
        <table>
            <tr class="navtext">
                <td colspan="2" id="textnav">Pots visitar</td>
                <td colspan="2" id="textnav">Xarxes</td>
            </tr>
            <tr>
                <td><a class="nav-link" href="{% url 'home' %}">Inici</a></td>
                <td><a class="nav-link" href="{% url 'descobreix' %}">Descobreix</a></td>
                <td><a href="https://www.instagram.com/?hl=es" class="iconos"><ion-icon src="static/Icons/_ionicons_svg_logo-instagram.svg" size="large"></ion-icon></a></td>
                <td><a href="https://www.facebook.com/" class="iconos"><ion-icon src="static/Icons/_ionicons_svg_logo-facebook.svg" size="large"></ion-icon></a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="{% url 'quisom' %}">Qui som?</a></td>
                <td><a class="nav-link" href="{% url 'registrat' %}">Registra't</a></td>
                <td><a href="https://twitter.com/?lang=es" class="iconos"><ion-icon src="static/Icons/_ionicons_svg_logo-twitter.svg" size="large"></ion-icon></a></td>
                <td><a href="#!" class="iconos"><ion-icon src="static/Icons/_ionicons_svg_logo-github.svg" size="large"></ion-icon></a></td>
            </tr>
            <tr>
                <td><a class="nav-link" href="{% url 'entra' %}">Entrar</a></td>
                <td><a class="nav-link" href="{% url 'home' %}">Doomus</a></td>

            </tr>
        </table>
    </div>
{% endblock %}
</body>
</html>